.light {
    background: #EEF0F4;
border-radius: 15px;
box-shadow: 9.91px 9.91px 15px #D9DADE, -9.91px -9.91px 15px #FFFFFF;
  background-color: white;
  color: black;
  font-size: 20px;
  padding: 10px 60px;
  border-radius: 5px;
  margin: 10px 0px;
  cursor: pointer;
}
.light:hover {
    background: #EEF0F4;
border-radius: 15px;
box-shadow: inset 7px 7px 14px #d4d6d9, inset -7px -7px 14px #fff;
  color: black;
  background-color: white;
  font-size: 20px;
  padding: 10px 60px;
  border-radius: 5px;
  margin: 10px 0px;
  cursor: pointer;
}
.dark {
  background: #000;
border-radius: 15px;
box-shadow: 9.91px 9.91px 15px #1e1f24, -9.91px -9.91px 15px #242121;
color: white;
font-size: 20px;
padding: 10px 60px;
border-radius: 5px;
margin: 10px 0px;
cursor: pointer;
border-color: white;
}
.dark:hover {
  background: #000000;
border-radius: 15px;
box-shadow: inset 7px 7px 14px #2f2f30, inset -7px -7px 14px #242121;
color: white;
font-size: 20px;
padding: 10px 60px;
border-radius: 5px;
margin: 10px 0px;
cursor: pointer;
border-color: #FFFFFF;
}

